@import "../../global.scss";
.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 749px;
    h11{
        font-size: 35px;
    }
    ul{
        margin: 10px;
        padding: 10px;
        list-style: none;
        display: flex;
         li{
             font-size: 30px;
             margin-right: 45px;
             border-radius: 4px;
              &.active{
                background-color: rgb(32, 32, 54);
        color: white;
                 padding: 4px 2px;
                 cursor: pointer;
            }
        }
    }
    .container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .item{
            width: 340px;
            height: 270px;
            border-radius: 20px;
            border: 2px solid rgb(128, 126, 126);
            margin: 10px 20px;
            align-items: center;
            justify-content: center;
            color: white;
            transition: all 1s ease;
            cursor: pointer;
            
            h9{
                color: rgb(250, 244, 244);
                margin-top: 380px;
                font-size: 19px;
                font-weight: bold;
                top: 1008px;
                margin-left: 100px;
            }
            
            img{
                width: 100%;
                height: 215px;
                object-fit: cover;
                // z-index: 1;
            }

            &:hover{
                background-color: rgb(161, 119, 161);
                img{
                    opacity: 0.12;
                }
            }
        }
    }
}