/* Contact.scss */

.contact {
    background-color: rgb(196, 193, 193);
    width: 100vw;
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .lefty {
      width: 60vw;
  
      img {
        width: 311px;
        height: 320px;
        margin-left: 905px;
        margin-top: -950px;
      }
    }
  
    .righty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 220px; /* Adjust as needed */
      margin-right: 620px;
      width: 50%;
  
      .contact-title {
        margin-right: 130px;
        font-size: 40px;
        color: brown;
      }
    }
  
    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 100px;
      width: 290px;
    }
  
    .input-field,
    .textarea-field {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    .textarea-field {
      height: 120px;
    }
  
    .submit-button {
      padding: 10px 20px;
      background-color: #8d121c;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .submit-button:hover {
      background-color: #0056b3;
    }
  }
  .ok{
    color: rgb(14, 27, 17);
    font-family: 'roboto';
    margin-top: 30px;
    font-size: 19px;
  }

  